{% extends "layout-authenication.html" %}
{% load static %}

{% block title %}Register | Django Real World App{% endblock %}

{% block content %}
    <form method="POST" class="w-96 mx-auto">
        {% csrf_token %}
        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
            <legend class="fieldset-legend">Register</legend>

            {% if form.non_field_errors %}
                <div class="text-red-600 mb-2">{{ form.non_field_errors }}</div>
            {% endif %}

            {% for field in form %}
                <div class="mb-3">
                    <label class="label">{{ field.label_tag }}</label>
                    <div class="w-full">{{ field }}</div>
                    {% if field.help_text %}
                        <p class="text-sm text-gray-500">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm">{{ field.errors|striptags }}</p>
                    {% endif %}
                </div>
            {% endfor %}

            <button class="btn btn-primary mt-4">Register</button>
        </fieldset>
    </form>
{% endblock %}
